.container-details {
    display        : flex;
    flex-direction : row;
    flex-wrap      : wrap;
    justify-content: center;
}

.container-rs {
    text-align  : center;
    padding     : 5px;
    margin-right: 150px;
}

.share {
    font-family   : fantasy;
    margin-right  : 20px;
    vertical-align: super;
}

.cntr-fbk-twr {
    outline: none;
    margin : 5px;
}

.facebook {
    margin-right: 5px;
}

/* .img-cart-detls {
    filter: invert(7%) sepia(100%) saturate(7385%) hue-rotate(247deg) brightness(106%) contrast(141%);
} */

.h3-msj-details {
    float : right;
    width : 220px;
    height: 20px;
}