.container-sld {
    display: flex;
    height: 50px;
    width: 350px;
    /* border: 1px solid black; */
    position: absolute;
    right: 1%;
    justify-content: space-between;
}

.slider {
    -webkit-appearance: none;
    width: 75%;
    height: 5px;
    border-radius: 5px;
    background: #ffffff;
    outline: none;
    opacity: 0.7;
    margin-top: 20px;
}

.n-range {
    color: rgb(255, 255, 255);
    margin-top: 15px;
    margin-left: 25px;
}

px .slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #f89e29;
    cursor: pointer;
}