/*----Grid Layout------*/

.grid-container {
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
    grid-template-columns: 1fr;
    grid-template-rows   : 5rem 1fr 5rem;
    height               : 100%;
}

.header {
    grid-area       : header;
    background-color: black;
    display         : flex;
    justify-content : flex-end;
    align-items     : center;
}

.main {
    grid-area: main;
}

.h1-main {
    color     : rgb(136, 2, 2);
    text-align: center;
    margin-top: 5%;
}


.footer {
    grid-area       : footer;
    background-color: black;
    display         : flex;
    justify-content : center;
    align-items     : center;
    height          : 200px;
}


/*----Main------*/


.container-cards {
    display        : flex;
    flex-direction : row;
    flex-wrap      : wrap;
    justify-content: center;
}

.container-form {
    display       : flex;
    flex-direction: row;
    flex-wrap     : wrap;
    margin-top    : 10px;
}

.btn-search {
    margin-top : 2%;
    margin-left: -70px;
    padding    : 10px;
    height     : 50px;
}

.inp-search {
    margin-top   : 2%;
    margin-left  : 10px;
    background   : none;
    border       : none;
    height       : 50px;
    width        : 250px;
    padding-left : 10px;
    box-shadow   : inset 0 0 5px 5px rgb(90, 89, 89);
    border-radius: 10px;
}

.inp-search:focus {
    outline: none;
}

.inp-search::placeholder {
    color  : rgb(71, 69, 69);
    opacity: .3;
}

.btn-date {
    margin-top   : 2%;
    margin-left  : 2%;
    height       : 50px;
    border-radius: 10px;
    box-shadow   : inset 0 0 5px 5px rgb(90, 89, 89);
    background   : rgb(44, 43, 43);
    width        : 300px;
}

.btn-list-user {
    margin-top   : 2%;
    margin-left  : 2%;
    height       : 50px;
    width        : 300px;
    border-radius: 10px;
    box-shadow   : inset 0 0 5px 5px rgb(90, 89, 89);
    background   : #3f888f;
}

.cntr-page {
    display        : flex;
    justify-content: center;
    margin         : 5px;
    padding        : 5px;
}

.cntr-page>h2 {

    margin-top: 10px;
}

/*----Footer-----*/


.cntr-footer {
    display        : flex;
    justify-content: space-around;
    padding        : 10px;
    width          : 100%;
    height         : 100%;
}

.cntr-services {
    color     : white;
    padding   : 10px;
    margin-top: 25px;
}

.cntr-services>h2 {
    margin-bottom  : 20px;
    text-decoration: underline;
}

.cntr-services>ul>li {
    margin-bottom: 10px;
}

.cntr-contacts {
    color     : white;
    padding   : 10px;
    margin-top: 25px;
}


.cntr-contacts>h2 {
    margin-bottom  : 20px;
    text-decoration: underline;
}

.cntr-contacts>ul>li {
    margin-bottom: 10px;
}



.cntr-social {
    color     : white;
    padding   : 10px;
    margin-top: 25px;
}

.cntr-social>h2 {
    margin-bottom  : 20px;
    text-decoration: underline;
}


.cntr-social>a {
    margin: 10px
}


@media (max-width: 600px) {
    .footer {
        font-size: 10px;
    }
}

@media (max-width: 500px) {
    .footer {
        font-size: 9px;
    }
}

@media (max-width: 450px) {
    .icons {
        width : 25px;
        height: 25px;
    }
}