.title-div {
    position: absolute;
    left: 0px;
    margin-left: 20px;
}

.title-link {
    color: #3f888f;
    text-decoration: none;
}

.cntr-cart-sidebar {
    position: absolute;
    background: black;
}

.btn-sidebar {
    margin: 1rem;
    font-size: 2rem;
    padding: .3rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    outline: none;
    z-index: 1000;
}

.nav-menu {
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transform: translateX(110px);
    transition-duration: 1.5s;
    width: 25rem;
    height: 4.5rem;
    margin-top: -75px;
    /**/
    background-color: rgb(0, 0, 0);
    z-index: -1;
}

.nav-menu.show {
    position: absolute;
    transition-duration: 1.5s;
    transform: translate(-25.5rem);
}

.nav-menu-li {
    color: white;
    padding: .4rem;
    padding-left: 1.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    margin: 20px;
    /* margin-top: 1rem; */
}

.nav-menu-li:hover {
    color: aqua;
}

.face {
    margin-left: 12px;
}

.img-cart {
    filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(96deg) brightness(107%) contrast(101%);
}

.img-cart:hover {
    filter: invert(66%) sepia(81%) saturate(584%) hue-rotate(129deg) brightness(106%) contrast(103%);
}

@media (max-width:700px) {
    .nav-menu {
        height: 135px;
        width: 200px;
        justify-content: start;
        border-radius: 10px;
        margin-top: -5px;
    }
    .container-menu {
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        border-radius: 10px;
    }
    .nav-menu-li {
        margin: 5px;
        font-size: 15px;
    }
    .nav-menu.show {
        transform: translate(-1.5rem);
    }
}