.cntr-footer {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    width: 100%;
    height: 100%;
}

.cntr-services {
    color: white;
    padding: 10px;
    margin-top: 25px;
}

.cntr-services>h2 {
    margin-bottom: 20px;
    text-decoration: underline;
}

.cntr-services>ul>li {
    margin-bottom: 10px;
}

.cntr-contacts {
    color: white;
    padding: 10px;
    margin-top: 25px;
}

.cntr-contacts>h2 {
    margin-bottom: 20px;
    text-decoration: underline;
}

.cntr-contacts>ul>li {
    margin-bottom: 10px;
}

.cntr-social {
    color: white;
    padding: 10px;
    margin-top: 25px;
}

.cntr-social>h2 {
    margin-bottom: 20px;
    text-decoration: underline;
}

.cntr-social>a {
    margin: 10px
}

@media (max-width: 600px) {
    .footer {
        font-size: 10px;
    }
}

@media (max-width: 500px) {
    .footer {
        font-size: 9px;
    }
}

@media (max-width: 450px) {
    .icons {
        width: 25px;
        height: 25px;
    }
}