.cntr-prvt-zone {
    display        : flex;
    justify-content: space-between;
    flex-direction : row;
    flex-wrap      : wrap;
}

.cntr-perfil {
    display       : flex;
    flex-direction: column;
    border        : 1px solid red;
    margin        : 50px;
    width         : 400px;
    height        : flex;
    text-align    : center;
    padding       : 20px;
}

.I-profile {
    color    : blue;
    font-size: 50px;
}

.cntr-If-Iem {
    border        : 1px solid black;
    display       : flex;
    text-align    : left;
    flex-direction: column;
    padding       : 10px;
    margin-top    : 50px;
}

.I-face {
    color         : rgb(128, 0, 0);
    vertical-align: middle;
    margin-right  : 20px;
}

.I-email {
    margin-top    : 20px;
    color         : white;
    vertical-align: sub;
    margin-right  : 20px;
}

.form-upd {
    margin-top    : 15px;
    border        : 1px solid green;
    display       : flex;
    flex-direction: column;
    padding       : 10px;
}

.inp-upd {
    margin       : 10px;
    background   : none;
    height       : 30px;
    border       : none;
    border-radius: 0;
    border-bottom: 1px solid #c6c6c6;
}

.inp-upd::placeholder {
    color  : rgb(218, 217, 214);
    opacity: 0.7;
}

.inp-upd:focus {
    outline: none;
}

.btn-dlt {
    margin-top: 10px;
}

.s-upd {
    margin-left: 5px;
}

.s-delete {
    margin-left : 5px;
    margin-right: 8px;
}

.btn-log-out {
    margin-top: 50px;
    padding   : 5px;
}

.s-logout {
    margin-left: 9px;
}


.cntr-btn-prvt {
    border        : 1px solid blue;
    display       : flex;
    flex-direction: column;
    margin        : 50px;
    width         : flex;
    height        : flex;
    text-align    : center;
    padding       : 20px;
}