.cntr-prvt-zone {
    display            : flex;
    justify-content    : space-between;
    flex-direction     : row;
    flex-wrap          : wrap;
    width              : flex;
    height             : flex;
    /* background-image: url("/img/space.webp"); */

    background: rgb(0, 0, 0);
}

.cntr-perfil {
    display       : flex;
    flex-direction: column;
    border-radius : 10px;
    box-shadow    : inset 0 0 5px 5px rgb(179, 17, 17);
    margin        : 5%;
    width         : 500px;
    height        : flex;
    text-align    : center;
    padding       : 20px;
    color         : white;
}

.I-profile {
    color    : blue;
    font-size: 50px;
}

.cntr-If-Iem {
    /* border        : 1px solid black; */
    display       : flex;
    text-align    : left;
    flex-direction: column;
    padding       : 10px;
    margin-top    : 40px;
    margin-bottom : 20px;
}

.I-face {
    color         : rgb(128, 0, 0);
    vertical-align: middle;
    margin-right  : 20px;
}

.I-email {
    margin-top    : 20px;
    color         : gray;
    vertical-align: sub;
    margin-right  : 20px;
}

.form-upd {
    margin-top    : 10px;
    display       : flex;
    flex-direction: column;
    padding       : 10px;
}

.inp-upd {
    margin       : 10px;
    background   : none;
    height       : 30px;
    border       : none;
    border-radius: 0;
    border-bottom: 1px solid #c6c6c6;
    color        : white;
}

.inp-upd:hover {
    border-bottom: 1px solid goldenrod;
}

.inp-upd::placeholder {
    color  : rgb(218, 217, 214);
    opacity: 0.7;
}

.inp-upd:focus {
    outline: none;
}

.btn-upd {
    margin-top: 10px;
}

.btn-dlt {
    margin-top: 10px;
}

.s-upd {
    margin-left: 5px;
}

.s-delete {
    margin-left : 5px;
    margin-right: 8px;
}

.btn-log-out {
    margin-top: 20px;
    padding   : 5px;
}

.s-logout {
    margin-left: 9px;
}


.cntr-btn-prvt {
    border-radius : 10px;
    box-shadow    : inset 0 0 5px 5px rgb(179, 114, 17);
    display       : flex;
    flex-direction: column;
    margin-left   : 6%;
    margin-right  : 100px;
    margin-top    : 70px;
    width         : 500px;
    height        : 610px;
    text-align    : center;
    padding       : 20px;
    margin-bottom : 50px;
}

.link-btns {
    display        : flex;
    text-decoration: none;
}

.btn-my-ads {
    color : beige;
    border: 1px solid white;
    width : 100%;
    margin: 10px;
}

.btn-my-ads:hover {
    background-color: goldenrod;
}

.cntr-title {
    margin-top   : 50px;
    margin-bottom: 100px;
}

.title-prvt {
    display        : flex;
    font-family    : "Star Wars";
    color          : rgb(173, 0, 0);
    padding        : 10px;
    font-size      : 40px;
    justify-content: center;
}

.home {
    margin-top: 100px;
}

@media only screen and (max-width: 500px) {
    .title-prvt {
        font-size: 35px;
    }
}