.container-recoverpass {
    display: flex;
    margin : 5px;
    padding: 10px;
}

.h3-rec-pass {
    margin: 20px;
    color : red;
}

.btn-recoverpass {
    margin-top : 30px;
    margin-left: -350px;
}

.inp-recoverpass {
    margin-top   : 16px;
    border-radius: 10px;
    border       : 1px solid rgb(44, 43, 43);
    background   : gray;
    padding      : 4px;
    outline      : none;
    color        : white;
}

.inp-recoverpass::placeholder {
    color  : white;
    opacity: .3;
}